{% extends 'base.html' %}
{% block content %}

<h1 class="text-center">Projects</h1>
<div class="container">
  <div class="row">
   {% for project in projects %}

      <!--Displaying the projects-->
      <div class="card col-xs-4 col-sm-4 col-md-4 col-lg-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{project.image.url}}" alt="pictures">
  <div class="card-body">
    <h5 class="card-title">Title {{project.project_name}}</h5>



      <h5 class="card-title">Description {{project.project_caption}}</h5>
    <a href="#" class="btn btn-primary">visit link</a>
  </div>
</div>
      </div>
      {% endfor %}
  </div>
</div>

{% endblock %}