{% extends 'base.html' %}
{% block content %}
<div class="container">
body
  header
    .top-bar
      a.nav-link#language(href="#") English
      h1.slogan The award of design, creativity and innovation on the internet.
      .social-media-icons
        a.social-media(href="#")
          i.fa.fa-instagram
        a.social-media(href="#")
          i.fa.fa-twitter
        a.social-media(href="#")
          i.fa.fa-facebook
    .bottom-bar
      .menu-search
        a.nav-link(href="#").menu-box
          .menu-icon
          span#menu Menu
        i.fa.fa-search
      a.nav-link#logo(href="#")
        h1 awwwards
      .register-submit
        a.nav-link#register(href="#") Register / log in
        a.nav-link#submit(href="#") submit your site!
  main
    section#hero-image
      a#hero-link(href="#")
      .featured-top-row
        h3#site Site of the Day <span id="date">February 28, 2018</span>
        a#share(href="#")
          i.fa.fa-share
      .featured-mid-row
        h1 50 Years of Charts
        h3 By <a id="yo" href="#">hinderling volkart</a> ag from <span>switzerland</span> with <span>7.66</span>
        .progress-container
          .score
            .circle#design
              p.rating <span>8</span>.18
            p Design
          .score
            .circle#creativity
              p.rating <span>7</span>.54
            p Creativity
          .score
            .circle#content
              p.rating <span>8</span>.91
            p content
          .score
            .circle#developer
              p.rating <span>7</span>.01
            p Developer
          .developer-score
      .featured-bottom-row
        .button-hero-container
          a(href="http://charlesmarcotte.me").hero-button.primary  Visit Site
          a.hero-button.secondary(href="http://charlesmarcotte.me") Visit Case
          a.hero-button.secondary(href="http://charlesmarcotte.me") Collect Me
        .jury-container
          a(href='#').hero-button.secondary Jury Votes
          .profile-container
            - for (var x = 0; x < 5; x++)
              .profile
                .profile-rating

</div>
{% endblock %}