{% extends 'base.html' %}
{% block content %}
<div class="container top">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="font2">Search results for {{message}}</h2>
        </div>
    </div>
    <div class="row">
        {% if projects %}
            {% for project in projects %}
            <div class="col-md-3 home-images search-results">
                <h1>{{project.project_name}}</h1>

                <!--{% if profile.prof_pic %}-->
                <!--<img src="{{profile.prof_pic.cdn_url}}" alt="profile-photo">-->
                <!--{% else %}-->
                <!--<img src="/static/img/avatar.png" alt="avatar">-->
                <!--{% endif %}-->
                <!--<p class="username">{{profile.user.username}} </p>-->
                <p><a class="btn btn-primary" href="{% url 'search' %}">View Profile</a></p>
            <!--</div>-->
            {% endfor %}
        {% else %}
            <div class="col-md-12 text-center">
                <h4 class="font1">No results for {{message}} </h4>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}