body {
    background-color: #fafafa;
}


#navMain {
    font-family: 'Raleway';
    font-size: 20px;
    /* text-transform: uppercase; */
    background: rgb(255, 255, 255);
}

#navMain .navbar-toggler {
    font-size: 16px;
    padding: 11px;
    color: rgb(0, 0, 0);
}

#navMain a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#navMain .navbar-nav .nav-item:active,
#navMain .navbar-nav .nav-item:focus {
    outline: none;
    background-color: rgb(240, 120, 120);
}

@media (min-width: 992px) {
    #navMain {
        padding-top: 20px;
        padding-bottom: 20px;
        -webkit-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        -moz-transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        transition: padding-top 0.5s ease-in-out, padding-bottom 0.5s;
        letter-spacing: 1px;
        background: rgb(255, 255, 255);
        border-bottom: 1px solid #e6e6e6;
        /* height: 70px; */
    }
    #navMain .nav-link.active {
        outline: none;
        background-color: rgb(255, 255, 255);
    }
    #navMain .nav-link.active:hover {
        color: white;
        background-color: rgba(230, 210, 97, 0.637)
    }
    #navMain.navbar-shrink {
        padding-top: 10px;
        padding-bottom: 10px;
        background: rgb(255, 255, 255);
        border-bottom: 1px solid #e6e6e6;
    }
    #navMain.navbar-shrink a {
        color: rgba(0, 0, 0, 0.973);
    }
}

.nav-search {
    display: flex;
    justify-content: center;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.home-images {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
}

.home-images img {
    width: 100%;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.top {
    padding-top: 6rem;
}

.top-section {
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.top-section img {
    width: 10rem;
    height: 10rem;
}

.profile-image {
    display: flex;
    justify-content: center;
}

.profile-image img {
    border-radius: 10rem;
}

.user-images img {
    width: 100%;
    /* height: inherit; */
}

.images {
    padding: 5px;
    height: 33.3%;
    overflow: hidden;
}

.username {
    font-family: 'Raleway';
    font-size: 35px;
}

.btn-edit {
    color: rgb(0, 0, 0);
    background-color: #ebebeb;
    border-color: #000000;
    margin-bottom: 5px;
}

.fa {
    color: black;
}

.edit-profile {
    background-color: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    margin: 0 0 10px;
    padding: 10px 0;
}

.edit-areas {
    border-right: 1px solid #e6e6e6;
}

.modal-dialog {
    max-width: 300px;
}

.modal-body {
    padding: 0;
}

.modal-body a {
    cursor: pointer;
    color: black;
}

.modal-body a:hover {
    text-decoration: none;
}

.home-text {
    padding-left: 1rem;
    padding-top: 1rem;
}

.home-list {
    padding-left: 1rem;
}
.search-results{
    text-align: center;
    padding-bottom: 1rem;
    margin: 1rem;
}
.search-results img{
    width: 180px;
    height: 180px;
    border-radius: 20rem;
    margin: 2rem 0;
}
p{
    font-family: 'Montserrat'
}
.font1{
    font-family: 'Catamaran';
}
.font2{
    font-family: 'Julius Sans One';
}


       .nav-main .menu .item .item-photo img, .nav-main .menu a .item-photo img {
	display:block;
	padding-top:6px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}

.nav-main .menu .item:hover, .nav-main .menu a:hover{
	background-color:#fcfcfc;
	-webkit-transition:background 0.3s ease-in-out;
	transition:background 0.3s ease-in-out
}

.nav-main .menu .item:hover .soon,.nav-main .menu a:hover .soon{

}


#header{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:70px;
	line-height:73px;
	font-size:13px;
	font-weight:400;
	background-color:#f4f7f6;
	z-index:302;
}

#header:after{ /*float 한 자식의 높이를 부모에게 전달하기 위해 사용*/
	content:'';
	display:block;
	clear:both;
}


#header .header-top{
	display:flex;
	/*display:none;*/
	position:relative;
	-webkit-box-pack:justify;
	-ms-flex-pack:justify;
	justify-content:space-between;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	height:70px;
	border-bottom:1px solid #E6EAEA;
}

#header .header-top .box-left, #header .header-top .box-right{
	width:15%;
}

#header .header-top .box-right{
	text-align:right;
}

#header .header-top .box-center{
	width:70%;
	text-align:center;
}

#header .header-top .slogan{
	margin:0;
	font-size:16px;
	font-weight:400;
}

#header .header-top .list-social .ico-svg{
	fill:#202121;

}

#header .header-top .list-social .ico-svg:hover{
	fill:#64686A
}

#header .header-main{
	position:relative;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	-ms-flex-pack:end;
	justify-content:flex-end;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
}

#header .header-main>.box-right{
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:end;
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
}

#header .bt-search{
	cursor:pointer;
}

#header .bt-menu{
	float:left;
	min-width:115px;
	height:70px;
	border-right:1px solid #E6EAEA;
	color:#202121;
	cursor:pointer;
	overflow:hidden; /*잘 모르겠음*/
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;

}

#header .bt-menu .ico-menu{ /*메뉴 막대기*/
	top:-1px;
	margin-right:10px;
	vertical-align:middle;
}

#header .bt-menu span{ /* 메뉴 텍스트*/
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out
}

#header .bt-menu:hover span {
	color:#64686A;
}

#header .bt-menu:hover .ico-menu .bar:after{ /*메뉴텍스트에 hover되면 left:100%로 감춰져있던 .bar:after가 이동, 가상클래스이기때문에 이동 전에는 보이지 않는 듯*/
	left:0;
}

#header .login,#header .logged{
	-webkit-box-flex:1;
	-ms-flex:1;
	flex:1;
	text-align:right;
}

#header .login{
	text-transform:uppercase;
}

#header .login strong{
	margin-left:4px;
	font-weight:600;
}

#header .login a{
	color:#202121;
}

#header .login a:hover{
	color:#64686A;
}
/*
#header .logged{position:relative}
#header .logged .name{color:#202121;text-transform:uppercase}
#header .logged .name:hover{color:#64686A}
*/

#header .item {
	padding:0 30px;
}

#header .item .list-social{
	padding-left:0;
}

#header .item .ico-svg{
	top:-1px;
	vertical-align:middle;
}





#bt-submit{
	position:relative;
	width:190px;
	height:70px;
	padding:0 !important;
	overflow:hidden; /*이걸 해야 bt-gotop이 사라짐*/
	-webkit-transition:width 0.3s ease-in-out;
	transition:width 0.3s ease-in-out
}

#bt-submit .button{
	width:190px;
	height:70px;
	padding:0;
	line-height:73px;
	overflow:hidden;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}





.list-social{ /*li 말고 부모단계에서는 inline-block 써야되나? 싶었는데 써야지 정렬이 바르게되네*/
	display:inline-block;
	text-align:center;
}

.list-social li{
	display:inline-block;
	margin-right:10px;
	cursor:pointer;
}

.list-social li:last-child{
	margin-right:0;
}

.list-social li:hover .ico-svg{
	fill:#49c5b6;
}

.list-social a{ /*왜 block 썼는지 모르겠음*/
	display:block;
}

/* .popup 없음
.list-social .popup{-webkit-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out}





















































html {
  background: url(http://cdn.magdeleine.co/wp-content/uploads/2014/05/3jPYgeVCTWCMqjtb7Dqi_IMG_8251-1400x933.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

img{
  display: block;
  margin: auto;
  width: 100%;
  height: auto;
}

#login-button{
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px;
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgba(3,3,3,.8);
  overflow: hidden;
  opacity: 0.4;
  box-shadow: 10px 10px 30px #000;}

/* Login container */
#container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 260px;
  border-radius: 5px;
  background: rgba(3,3,3,0.25);
  box-shadow: 1px 1px 50px #000;
  display: none;
}

.close-btn{
  position: absolute;
  cursor: pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  line-height: 18px;
  top: 3px;
  right: 3px;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  opacity: .2;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.close-btn:hover{
  opacity: .5;
}

/* Heading */
h1{
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: #ddd;
  text-shadow: 3px 3px 10px #000;
}

/* Inputs */
a,
input{
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
  position: relative;
  width: 80%;
  display: block;
  margin: 9px auto;
  font-size: 17px;
  color: #fff;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: rgba(3,3,3,.1);
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input:focus{
  outline: none;
  box-shadow: 3px 3px 10px #333;
  background: rgba(3,3,3,.18);
}

/* Placeholders */
::-webkit-input-placeholder {
   color: #ddd;  }
:-moz-placeholder { /* Firefox 18- */
   color: red;  }
::-moz-placeholder {  /* Firefox 19+ */
   color: red;  }
:-ms-input-placeholder {
   color: #333;  }

/* Link */
a{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding: 4px 8px;
  background: rgba(107,255,3,0.3);
}

a:hover{
  opacity: 0.7;
}

#remember-container{
  position: relative;
  margin: -5px 20px;
}

.checkbox {
  position: relative;
  cursor: pointer;
	-webkit-appearance: none;
	padding: 5px;
	border-radius: 4px;
  background: rgba(3,3,3,.2);
	display: inline-block;
  width: 16px;
  height: 15px;
}

.checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox:checked {
  background: rgba(3,3,3,.4);
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.5);
	color: #fff;
}

.checkbox:checked:after {
	content: '\2714';
	font-size: 10px;
	position: absolute;
	top: 0px;
	left: 4px;
	color: #fff;
}

#remember{
  position: absolute;
  font-size: 13px;
  font-family: 'Hind', sans-serif;
  color: rgba(255,255,255,.5);
  top: 7px;
  left: 20px;
}

#forgotten{
  position: absolute;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  color: rgba(255,255,255,.2);
  right: 0px;
  top: 8px;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  -moz-transition: all 2s ease-in-out;
  -o-transition: all 2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#forgotten:hover{
  color: rgba(255,255,255,.6);
}

#forgotten-container{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 260px;
  height: 180px;
  border-radius: 10px;
  background: rgba(3,3,3,0.25);
  box-shadow: 1px 1px 50px #000;
  display: none;
}

.orange-btn{
  background: rgba(87,198,255,.5);
}